/* Soft reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

:root {
  --background-blue: #2196F3;
  --nav-color: rgb(255, 255, 255);
  --nav-text: #344055;
  --border-color: #072AC8;
  --projeto-color: #73FBD3;
  --contato-color: #5C7AFF;
  --flourescent-blue: #44E5E7;
  --celtic-blue: rgba(38, 110, 211, 0.726);
  --font-color: #222222;
  --title-color: #343434;
}

body {
    font-family: Arial;
    height: 100vh;
    color: var(--font-color);
    font-size: 18px;
}

@media (min-width: 200px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}


header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-blue);
  
}

.menu {
  background-color: var(--nav-color);
  position: fixed;
  width: 100vw;
  
  top: 0;
  border: 1px solid lightslategray;
  box-shadow: 0 1px 0 rgba(0, 57, 214, 0.4);
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  align-self: center;
  
}
.menu li {
  list-style: none;
  
}

.menu a {
  color: var(--nav-text);
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: var(--celtic-blue);
  color: var(--nav-color);
  
}

a{
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  text-decoration: underline;
}

header img {  
  height: 30vh;
  width: 30vh;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 5px solid var(--border-color);
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: .0;

  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  0% /* pode ser "to" ou "from"*/ {
    /* Já foram declaradas no transform de .titulo*/
  }
  100% /* pode ser "from" ou "to" */{
      transform: scale(1) translateY(0);
      opacity: 1;
  }
  
}

.site-title, 
.site-subtitle {
  text-align: center;
  color: white;
    
}

.site-title {
  font-size: 4em;
  font-family: 'Source Sans Pro', sans-serif;
}

.site-subtitle {
  font-style: italic;
  line-height: 1.8em;
}

section {
  min-height: 100vh;
}

section h2 {
    text-align: center;
    padding: 1.5em; 
      
}

.projetos {
  background-color: var(--projeto-color);
  
}

.projetos .grid {
  display: grid;
  gap: 2em; 
  justify-content: center;
  padding-bottom: 5em;
}

/* Media query estavam aqui */

.projetos figure {
  text-align: center;
  transition: transform 500ms;
}

figure:hover {
  transform: scale(1.2);
}

.img-projeto {
  width: 240px;
  height: 180px;
  object-fit: fill;
  object-position: center;
  border-radius: 5px;
}

.contato {
  background-color: var(--contato-color);
  height: 50vh;
}

.contato a {
  font-size: 5em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.61);
}

.contato .icons {
  display: grid;
  text-align: center;
  justify-content: center;
  align-self: center;
}

@media (min-width: 550px) {
  .projetos .grid,
  .contato .icons {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 850px) {
  .projetos .grid {
    grid-template-columns: repeat(3, 240px);
  }
}

@media (min-width: 890px) {
  .contato .icons {
    grid-template-columns: repeat(4, 240px);
    height: calc(50vh - 121px);
  }
}